<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<authorization>
   <allow roles="管理员" />
  </authorization>
  <roleManager enabled="true"/>
		<authentication mode="Forms"/>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
 <system.net>
  <mailSettings>
   <smtp from="gdmc_library@sina.com.cn ">
    <network host="smtp.sina.com.cn " password="admin123" userName="gdmc_library@sina.com.cn " />
   </smtp>
  </mailSettings>
 </system.net>
</configuration>
